<h3>{{ listTitle }}</h3>

<form #f="ngForm" (ngSubmit)="onSubmit(f)">
  <input required type="text" ngModel name="label">
  <button type="submit" [disabled]="items.length > 9 || !f.valid">Add new item</button>

  <warning-message *ngIf="!f.valid && f.touched">
    Label is required
  </warning-message>
</form>

<warning-message *ngIf="items.length > 9">
  Maximum allowed items reached!
</warning-message>

<div style="margin-top: 10px;">
  Number of items: <strong>{{ items.length }}</strong>
</div>

<ul>
  <todo-item *ngFor="let item of items" [item]="item"></todo-item>
</ul>